{% extends 'base.html' %}

<title>{% block title %}Change Password{% endblock %}</title>

{% block content %}
    <div class="row align-items-center">
        <div class="col mb-5">
            {% if user.is_authenticated %}
                <h1>Change Password</h1>
            {% else %}
                <h1>Reset password</h1>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-sm-2">
        </div>
        <div class="col shadow p-3 mb-5 bg-body rounded border border-2 border-warning">
            <form class="row g-3 needs-validation"
                  action="{% if not user.is_authenticated %} {% url 'auth_user:reset_password' %} {% else %}  {% url 'auth_user:new_password' %} {% endif %}"
                  method="post" novalidate>
                {% csrf_token %}
                <div class="row p">
                    {% if not user.is_authenticated %}
                        <div class="col-md-4">
                            <label for="{{ reset_form.user_email.id_for_label }}" class="form-label">E-mail <span
                                    class="text-danger">*</span></label>
                            <div class="input-group ">
                                <span class="input-group-text" id="inputGroupPrepend">@</span>
                                {{ reset_form.user_email }}
                                {% if reset_form.user_email.errors %}
                                    <div class="text-danger">
                                        {{ reset_form.user_email.errors }}
                                    </div>
                                {% else %}
                                    <div class="invalid-feedback">
                                        Please provide your e-mail.
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-4">
                            <label for="{{ password_form.password1.id_for_label }}" class="form-label">Password <span
                                    class="text-danger">*</span></label>
                            {{ password_form.password1 }}

                            {% if password_form.password1.errors %}
                                <div class="text-danger">
                                    {{ password_form.password1.errors }}
                                </div>
                            {% else %}
                                <div class="invalid-feedback">
                                    Please provide a password.
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <label for="{{ password_form.password2.id_for_label }}" class="form-label">Re-enter Password
                                <span class="text-danger">*</span></label>
                            {{ password_form.password2 }}
                            {% if password_form.password2.errors %}
                                <div class="text-danger">
                                    {{ password_form.password2.errors }}
                                </div>
                            {% else %}
                                <div class="invalid-feedback">
                                    Please repeat password.
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <br>
                        <button class="btn btn-warning" type="submit">Recover Password</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col col-sm-2">
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}